/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes */

@font-face {
    font-family: "Montserrat-M";
    src: url("../assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-B";
    src: url("../assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Fraunces-B";
    src: url("../assets/fonts/Fraunces_72pt-Bold.ttf");
}

html,
body {
    height: 100%;
}

/* VARIABLES */

/*--Colors--*/
:root {
    --BG-COLOR: hsl(30, 38%, 92%);
    --CARD-BG-COLOR: hsl(0, 0%, 100%);
    --MAIN-TEXT-COLOR: hsl(228, 12%, 48%);
    --TITLE-COLOR: hsl(212, 21%, 14%);
    --MAIN-PRICE-COLOR: hsl(158, 36%, 37%);
    --BUTTON-COLOR: hsl(158, 36%, 37%);
    --ACTIVE-BUTTON-COLOR: hsl(158, 42%, 18%);
}

/*--Fonts--*/
:root {
    --BASIC-FONT: "Montserrat-M";
    --BASIC-FONT-BOLD: "Montserrat-B";
    --TITLE-FONT: "Fraunces-B";
}

/* General Styles */

body {
    background-color: var(--BG-COLOR);
    display: grid;
    grid-template-rows: 1fr auto;
}

main {
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
