/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes */

@font-face {
    font-family: "Montserrat-M";
    src: url("../assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-B";
    src: url("../assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Fraunces-B";
    src: url("../assets/fonts/Fraunces_72pt-Bold.ttf");
}

html,
body {
    height: 100%;
}

/* VARIABLES */

/*--Colors--*/
:root {
    --BG-COLOR: hsl(30, 38%, 92%);
    --CARD-BG-COLOR: hsl(0, 0%, 100%);
    --BUTTON-TEXT-COLOR: hsl(0, 0%, 100%);
    --MAIN-TEXT-COLOR: hsl(228, 12%, 48%);
    --TITLE-COLOR: hsl(212, 21%, 14%);
    --MAIN-PRICE-COLOR: hsl(158, 36%, 37%);
    --BUTTON-BG-COLOR: hsl(158, 36%, 37%);
    --ACTIVE-BUTTON-BG-COLOR: hsl(158, 42%, 18%);
}

/*--Fonts--*/
:root {
    --BASIC-FONT: "Montserrat-M";
    --BASIC-FONT-BOLD: "Montserrat-B";
    --BASIC-FONT-SIZE: 0.875rem;
    --LABEL-FONT-SIZE: 0.75rem;
    --TITLE-FONT: "Fraunces-B";
    --TITLE-FONT-SIZE: 2.15rem;
    --MAIN-PRICE-FONT-SIZE: 2.1rem;
    --DELETED-PRICE-FONT-SIZE: 0.8rem;
}

/*--Border-Radius--*/
:root {
    --BORDER-RADIUS: 0.5rem;
}

/* General Styles */

body {
    background-color: var(--BG-COLOR);
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0.75rem;
}

.product {
    background-color: var(--CARD-BG-COLOR);
    display: flex;
    flex-direction: column;
    width: min(100%, 400px);
    border-radius: var(--BORDER-RADIUS);
}

.product__img {
    width: inherit;
    aspect-ratio: 1.025/1;
    background-image: url("../assets/images/image-product-mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: var(--BORDER-RADIUS) var(--BORDER-RADIUS) 0 0;
}

.product__info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.product__text-block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product__label {
    font-family: var(--BASIC-FONT);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: var(--LABEL-FONT-SIZE);
    color: var(--MAIN-TEXT-COLOR);
}

.product__title {
    font-family: var(--TITLE-FONT);
    line-height: 100%;
    color: var(--TITLE-COLOR);
    font-size: var(--TITLE-FONT-SIZE);
}

.product__text {
    font-family: var(--BASIC-FONT);
    color: var(--MAIN-TEXT-COLOR);
    font-size: var(--BASIC-FONT-SIZE);
    line-height: 1.5rem;
}

.product__price-block {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product__main-price {
    color: var(--MAIN-PRICE-COLOR);
    font-family: var(--TITLE-FONT);
    font-size: var(--MAIN-PRICE-FONT-SIZE);
    line-height: 100%;
}

.product__deleted-price {
    color: var(--MAIN-TEXT-COLOR);
    font-family: var(--BASIC-FONT);
    text-decoration: line-through;
    font-size: var(--DELETED-PRICE-FONT-SIZE);
    line-height: 100%;
}

.product__buy-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--BUTTON-TEXT-COLOR);
    background-color: var(--BUTTON-BG-COLOR);
    border: none;
    padding: 1rem 0;
    border-radius: var(--BORDER-RADIUS);
    font-family: var(--BASIC-FONT-BOLD);
    cursor: pointer;
}

.product__buy-button:hover,
.product__buy-button:active,
.product__buy-button:focus-visible {
    background-color: var(--ACTIVE-BUTTON-BG-COLOR);
}

.product__buy-button:active {
    transform: scale(0.98);
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
    .product {
        flex-direction: row;
    }
}
